.menuContent ul{
    position: absolute;
    left: 360px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menuContent ul li{
    float: left;
}

.listItem{
    display: block;
    color: #414a50;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Inter UI';
    cursor: pointer;
}

.selectedListItem{
    display: block;
    color: #36A7EE;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Inter UI';
    cursor: pointer;
}
