.home-banner-footer {
  font-size: 16px;
  font-family: 'Inter UI', sans-serif;
}

.home-banner-footer-sponsor-img {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  top: 7px;
}

.home-banner-footer-sponsor-img-flexport {
  width: 100px;
  height: auto;
}


.home-banner-footer-sponsor-img-rwr {
  width: 37px;
}
