.container tr {
    border: 1px solid #535353;
}

.container tr:nth-child(odd) {
    background-color: #f6f9fc;
}

.container td {
    border-bottom: 1px solid gray;
}

.container img {
    width: 90px;
}

.expandable {
    cursor: pointer;
}

@media (min-width: 768px) {
  .mobile-callout {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-callout {
      display: block;
      margin-bottom: 15px;
  }
  .container img {
    width: 80px;
  }
  table {
    width: 97vw;
  }
}
