.podcast-section-content-title {
  margin-top: 55px;
  font-family: var(--font-roboto-slab);
  color: var(--color-black);
  font-size: 48px !important;
}

.podcast-section-content-subtext {
  color: var(--color-black);
  font-family: var(--font-inter-ui);
  margin-top: 25px;
  margin-bottom: 100px;
}
