.speaker-grid-parent {
  padding-top: 60px;
}

.speaker-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 35px; /* 0px; */
  grid-row-gap: 100px;
  padding-top: 55px;
}

.speaker {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 30% 70%;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.speaker-img {
  padding-top: 20px;
  max-width: 100%;
  display: block;
  /* width: 160px; */
    /* height: 160px; */
    margin: 0 auto;
    box-shadow: 0 0 0 4px white, 0 0 0 6px #36A7EE;
    position: relative;
    /* offset-y: 7.5;
    offset-x: 7.5; */
}

.speaker-name {
  font-family: var(--font-roboto-slab);
  font-weight: bold;
  font-size: 24px;
  color: var(--color-light-blue);
}

.speaker-headline {
  font-family: var(--font-inter-ui);
  font-size: 14px;
  font-style: italic;
  color: var(--color-black);
  max-width: 307px;
}

.speaker-company {
  font-family: var(--font-inter-ui);
  font-size: 16px;
  color: var(--color-light-gray);
}

.speaker-links {
  font-family: var(--font-inter-ui);
  font-size: medium;
  color: var(--color-gray);
}
