@import url('https://rsms.me/inter/inter.css');

@media (max-width: 799px) {
  .utility-nav {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.2s;
    width: 100%;
    background: var(--color-orange);
  }

  .site-header {

    margin-top: 65px !important; /* remove if no site header notice */
  }

  .navigation-drawer {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0;
    left: 0;
    /* background: #2F363D; */
    z-index: 10;
    bottom: 68px;
    top: 68px;
    padding-bottom: 68px;
    overflow-x: hidden;
    overflow-y: auto;
    /* transition: opacity 0.2s ease-in-out; */
    color: #1B1F23;
    pointer-events: none;
    opacity: 0;
  }

  .navigation-drawer .navigation-drawer__inner {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
  }

  .navigation-drawer .main-nav {
    padding: 20px 0;
    text-align: left;
    flex-grow: 0;
    opacity: 1; /* opacity: 0; */
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.2s;
  }

  .navigation-drawer .main-nav li {
    padding: 0 0;
    transform: translate3d(16px, 0, 0);
    transition: transform 0.4s ease-in-out;
  }

  .site-header__inner {
    height: 68px;
    justify-content: space-between;
    /* Center Logo */
    /* align-items: center; */
    /* Left of burger */
    padding-left: 15% !important;
  }

  .navigation-drawer-native-open {
    opacity: 1 !important;
    display: block;
    width: 100%;
    max-width: 100%;
    background: var(--color-white);
    z-index: 50;

    margin-top: 65px !important; /* remove if no site header notice */
  }

  .navigation-drawer-native-closed {
    display: none !important;
  }

  .site-branding-expanded {

  }
}

@media (max-width: 480px) {
  .site-branding {
    margin-left: 10px;
  }
  .site-branding img {
    width: 170px;
    margin-top: 13px;
    margin-left: 25px;
  }
}

@media (min-width: 600px) {
  .utility-nav li a {
    max-width: 355px;
  }
}
@media (min-width: 800px) {
  .site-header {
    border-bottom: none;
    width: 296px !important;
    height: 100%;
    box-shadow: 0 0 black;
    text-shadow: 0 0 black;
  }

  .site-header__inner {
    height: 100%;
  }

  .navigation-drawer {
    flex-grow: 1;
  }

  .site-branding {
    padding: 0 24px;
    height: 96px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #E9EAEC;
  }

  .site-header__ft {
    display: block;
    border-top: 1px solid #2F363D;
  }

  ul.main-nav {
    padding: 24px 0;
  }
}

.nav-menu-icon {
  margin: -3px;
}

ul.main-nav li.is-active /*, ul.main-nav li:hover */ {
  margin-bottom: 10px;
  margin-left: 10px;
  border-bottom: 0.5px solid #E9EAEC;
  background: url('../../assets/icons/menu/react-menu-icon.svg') no-repeat 7px 7px transparent;
  list-style-type: none;
  padding: 0px 0px 0px 10px;
  vertical-align: middle;
}

ul.main-nav li {
  margin-bottom: 10px;
  border-bottom: 0.5px solid #E9EAEC;
}

.site-header {
  font-family: "inter",mono,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  /* background: #1B1F23; */
  transition: background .4s ease-in-out,opacity .4s ease-in-out,width 0.2s ease;
  border-bottom: none;
  /* border-right: 1px solid #2F363D; */
  width: 100%;
  box-shadow: 0 0 black;
  text-shadow: 0 0 black;
  border-right: 1px solid var(--color-border-gray);
}
.site-header__inner {
  font-family: "inter",mono,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: black;
  text-shadow: 0 0 black;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

.navigation-drawer {
  font-family: "inter",mono,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: black;
  text-shadow: 0 0 black;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
}

.navigation-drawer__inner {
  font-family: "inter",mono,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.site-header__ft {
  font-family: "inter",mono,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  display: block;
  border-top: 1px solid #2F363D;
}

.is-active {
  font-family: "inter",mono,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: var(--color-light-blue);
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}

ul.main-nav>li>a {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  list-style: none;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter UI Regular", mono, sans-serif;
  display: block;
  padding: 6px 24px;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: black;
  position: relative;
  /* transition: color .4s ease-in-out,height .4s ease-in-out; */
  transition: margin 200ms, color 400ms;
}

ul.main-nav>li>a.is-active {
  font-family: "Inter UI Regular", mono, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  /* color: #36A7EE !important; */
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}

ul.main-nav a:hover {
  margin-left: 6px;
}

ul.main-nav li.is-active a, ul.main-nav a:hover {
  color: var(--color-light-blue);
  list-style-image: url('../../assets/icons/favicon.ico') !important;
}

ul.main-nav a:hover {
  color: #36A7EE;
  list-style-image: url('../../assets/icons/favicon.ico') !important;
}

ul.main-nav:hover li:hover li:active {
  list-style-image: url('../../assets/icons/favicon.ico') !important;
}

.utility-nav {
  font-family: "Inter UI Bold", mono, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.utility-nav li a {
  display: block;
  padding: 17px 0.5px;
  /* padding: 17px 36px; */
  background: var(--color-orange);
  color: #fff;
  /* text-align: center; */
  font-weight: 700;
  /* font-family: "Inter UI Bold", mono, sans-serif; */
  display: block;
  width: 100.5%;
  border-radius: 0;
  text-decoration: none;
}

.utility-nav li {
  width: 100%;
}

.utility-nav span {
  padding-left: 20px;
}

.utility-nav li a span:after {
  content: '';
  width: 36px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  /* background: url() center/cover no-repeat; */
  transform: translate3d(0, -3px, 0);
  transition: transform .4s ease-in-out;
}

.nav-footer {
  margin-left: 20px;
  margin-top: 20px;
  font-family: var(--font-inter-ui);
  font-size: 16px;
  font-size: medium;
}

.nav-footer-header {
  color: var(--color-light-gray);
}

.nav-footer-list a {
  color: var(--color-light-blue);
  text-decoration: none;
  cursor: pointer;
}

.nav-footer-list {

}
