.header-description-wrap {

}

.header-description {
  color: var(--color-white);
  font-family: var(--font-inter-ui);
  line-height: 28px;
  font-size: 18px;
  max-width: 767px;
  padding-bottom: 20px;
}

@media (max-width: 799px) {
  .header-description-wrap {
    padding-top: 24px;
  }

  .header-description {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .header-description-wrap {
    padding-top: 24px;
  }

  .header-description {
    font-size: 16px;
    line-height: 24px;
  }
}
