.highlightSectionContainer{
    position: relative;
}

.sectionHeader{
    position: absolute;
    left: 50px;
    font-size: 64px;
    font-family: 'RobotoSlab-Bold';
}

.imageContainer{
    position: relative;
    top:200px;
    overflow: scroll;
}
