.speakers-banner {
  background: url('../../../assets/images/Speakers/speakers-header.jpg');
  background-color: var(--color-dark-blue);
  background-blend-mode: overlay;
  background-size: cover;
}


@media (max-width: 480px) {
  .speakers-banner {
    background: url('../../../assets/images/Speakers/speakers-header-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
