.about-banner-content {
  /* padding-top: 82px; */
}

.about-banner-content-header {
  padding-bottom: 0;
}

.about-banner-content-description {
  max-width: 800px;
}


@media (max-width: 799px) {
  .about-banner-content-header {
    padding-bottom: 20px;
  }
}
