.footer-sitemap {

}

.footer-sitemap-link-item {
  float: left;
  color: white;
  line-height: 28px;
  transition: color .2s ease;
  width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
  text-decoration: none;
}

.footer-sitemap-link-item a {
  
}
