.footer-newsletter {
  width: 80%;
}

.footer-newsletter form {
  display: block;
  max-width: 460px;
  margin-top: 0em;
}

.footer-newsletter input {
  outline: none;
  margin: 0em;
  color: var(--color-white);
}

.footer-newsletter input[type="text"] {
  background: black;
  background: transparent;
  padding: 16px calc(168px - 24px) 16px 24px;
  border: 2px solid white;
  border-radius: 999px;
  transition: border-color .2s ease;
  width: 100%;
  margin-top: 17px;
  box-sizing: border-box;
}

.footer-newsletter button {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  background: white;
  color: black;
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: 700;
  border-radius: 999px;
  padding: 9px;
  margin-top: 4px;
  margin-left: 2px;
  float: right;
  transition: transform .2s ease, opacity .2s ease, background .2s ease;
  transform: translate(-6px, -48px);
  opacity: 1;
}
