.about-banner {
  background: url('../../../assets/images/about/about-header.jpg');
  background-blend-mode: overlay;
  background-size: cover;
}

@media (max-width: 480px) {
  .about-banner {
    background: url('../../../assets/images/about/about-header-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
