.sponsor-grid {
  display: block;
  text-align: center;
  padding-top: 55px;
}

.sponsor-grid-sponsor {
  animation-delay: .1s;
  -webkit-animation-delay: .1s;
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  margin-bottom: 50px;
}

.sponsor-grid-sponsor a {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  text-decoration: none;
}

.sponsor-grid-sponsor-logos {
  display: grid;
  padding-top: 21px;
  align-items: center;
}

.sponsor-grid-sponsor-logos-presenting {

}

.sponsor-grid-sponsor-logos-platinum {

}

.sponsor-grid-sponsor-logos-gold {
  grid-template-columns: 50% 50%;
  grid-row-gap: 25px;
  grid-column-gap: 0px;
}

.sponsor-grid-sponsor-logos-silver {
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 45px;
  grid-column-gap: 0px;
}

.sponsor-grid-sponsor-logos-community {
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: 25px;
  grid-column-gap: 0px;
}

.sponsor-grid-sponsor-logo {
  position: relative;
  align-items: center;
}

.sponsor-grid-sponsor-title {
  position: relative;
  text-align: center;
  font-size: 13px;
  font-family: var(--font-inter-ui);
  font-weight: bold;
  color: var(--color-sponsor-gray);
  text-transform: uppercase;
  letter-spacing: 4.61px;
  margin-bottom: 21px;
}

.sponsor-grid-sponsor-description {
  font-size: 16px;
  font-family: var(--font-inter-ui);
  color: var(--color-black);
  text-align: center;
  margin-top: 25px;
  margin-right: 15%;
  margin-left: 15%;
  padding-bottom: 30px;
}

.sponsor-grid-footer {
  margin-top: 60px;
  margin-right: 15%;
  margin-left: 15%;
}

.sponsor-grid-footer-content {
  font-family: var(--font-inter-ui);
  color: var(--color-black);
  line-height: 14px;
}

.sponsor-grid-footer-content-bold {
  font-weight: bold;
}

.sponsor-logo-facebook {
  width: 310px;
}

.sponsor-logo-apollo {
  width: 250px;
}

.sponsor-logo-imgix {
  width: 190px;
}

.sponsor-logo-lendingclub {
  width: 270px;
  /* margin-top: 25px; */
}

.sponsor-logo-hasura {
  margin-top: -15px;
}

.sponsor-logo-nexmo {
  width: 200px;
  padding-left: 10px;
  margin-top: 15px;
}

.sponsor-logo-netlify {
  width: 210px;
}

.sponsor-grid-footer-content-link {
  color: var(--color-orange);
}

@media (max-width: 1199px) {
  .sponsor-grid-sponsor-logos-silver {
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 0px;
  }

  .sponsor-grid-sponsor-logos-community {
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 0px;
  }

  .sponsor-logo-hasura {
    margin-top: 15px;
  }

  .sponsor-logo-lendingclub {
    margin-top: 25px;
  }

  .sponsor-logo-nexmo {
    margin-top: 30px;
  }

  .sponsor-logo-netlify {
    margin-top: 20px;
  }

  .sponsor-logo-netflix {
    margin-top: 30px;
  }
}

@media (max-width: 799px) {

}

@media (max-width: 480px) {
  .sponsor-grid {
    margin-top: 0;
  }
  .sponsor-grid-sponsor-title {
    font-size: 12px;
    letter-spacing: 4px;
    margin-top: 40px;
    margin-bottom: 0;
  }
  .sponsor-grid-sponsor-description {
    padding-bottom: 40px;
    margin-right: 3%;
    margin-left: 3%;
    font-size: 13px;
  }
  .sponsor-grid-sponsor {
    margin-bottom: 0px;
  }

  .sponsor-grid-sponsor-logos-gold {
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 0px;
  }

  .sponsor-grid-sponsor-logos-silver {
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 0px;
  }

  .sponsor-grid-sponsor-logos-community {
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 0px;
  }

  .sponsor-logo-netflix {
    width: 89px;
    margin-top: 15px;
  }

  .sponsor-logo-lendingclub {
    width: 190px;
    margin-top: 15px;
  }

  .sponsor-logo-flexport {
    width: 189px;
  }

  .sponsor-logo-coursehero {
    width: 220px;
    margin-bottom: 10px;
  }

  .sponsor-logo-facebook {
    width: 220px;
  }

  .sponsor-logo-apollo {
    width: 190px;
    margin: 20px 0;
  }

  .sponsor-logo-imgix {
    width: 170px;
  }

  .sponsor-logo-auth0 {
    width: 139px;
    margin-top: 20px;
  }

  .sponsor-logo-nexmo {
    width: 150px;
    margin-top: 20px;
  }

  .sponsor-logo-mux {
    width: 89px;
  }

  .sponsor-logo-hasura {
    width: 150px;
    margin-top: 15px;
  }

  .sponsor-logo-netlify {
    width: 155px;
    margin-top: 10px;
  }

  .sponsor-grid-footer {
    font-size: 12px;
  }
}
