@media (min-width: 800px) {

}

.content-nav-menu {
  overflow: auto;
  white-space: nowrap;
  min-height: 63px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}


.content-nav-menu::-webkit-scrollbar {
  display: none;
}

.content-nav-menu-item {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: var(--font-inter-ui);
}

.content-nav-menu-items-wrap {
  margin-left: 95px;
}

.content-nav-menu-divider {
  margin-top: -10px;
}

@media (max-width: 480px) {
  .content-nav-menu-items-wrap {
    margin-left: 0
  }
}
