.tab {
    font-size: 18px;
    color: #7f7f7f;
    margin: 0 20px;
}

.tab:hover,
.tab.active {
    color: #02AEEF;
    text-decoration: underline;
}

.tab-content-container {
    text-align: left;
    max-width: 768px;
    margin: auto;
}

.tab-content-container h1 {
    font-size: 24px;
}