.tab {
    font-size: 18px;
    color: #7f7f7f;
    margin: 0 20px;
}

.tab:hover,
.tab.active {
    color: #02AEEF;
    text-decoration: underline;
}

.tab-content-container {
    text-align: left;
    max-width: 768px;
    margin: auto;
}

.tab-content-container h1 {
    font-size: 24px;
}

.tab-content-container main {
    display: flex;
}

.description {
    width: 400px;
}

.fundamentals-buy-tickets-container,
.advanced-buy-tickets-container {
    margin-left: 80px;
}

.fundamentals-buy-tickets-container {
    margin-top: 60px;
}

@media only screen and (max-width: 480px) {
    .tab-content-container main {
        flex-wrap: wrap;
    }

    .advanced-buy-tickets-container,
    .fundamentals-buy-tickets-container {
        margin-left: 0;
        margin-top: 30px;
    }
}