.tab {
    font-size: 18px;
    color: #7f7f7f;
    margin: 0 20px;
}

.tab:hover,
.tab.active {
    color: #02AEEF;
    text-decoration: underline;
}

.tab-content-container {
    text-align: left;
    max-width: 768px;
    margin: auto;
}

.tab-content-container h1 {
    font-size: 24px;
}

.tab-content-container main {
    display: flex;
}

.description {
    width: 400px;
}

.buy-tickets-container{
    margin-left: 80px;
    display: flex;
    align-items: flex-end;
}

@media only screen and (max-width: 480px) {
    .tab-content-container main {
        flex-wrap: wrap;
    }

    .buy-tickets-container{
        margin-left: 0;
        margin-top: 30px;
    }
}