.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 35px; /* 0px; */
  grid-row-gap: 100px;
  padding-top: 55px;
}

.feature {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 30% 70%;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.feature-title {
  font-family: var(--font-roboto-slab);
  font-weight: bold;
  font-size: 24px;
  color: var(--color-light-blue);
}

.feature-img-wrap > img {
  object-fit: cover;
}

.feature-description {
  font-family: var(--font-inter-ui);
  font-size: 14px;
  font-style: italic;
  color: var(--color-black);
  max-width: 307px;
  min-height: 100px;
}

.feature-cta-btn {
  position: relative;
  padding: 14px 90px !important;
}

.feature a {
  text-decoration: none;
}

@media (max-width: 799px) {
  .feature-img-wrap > img {
    object-fit: scale-down;
    max-height: 100%;
  }

  .features-grid {
    grid-template-columns: 100%;
  }
}

@media (max-width: 1100px) {
  .feature-img-wrap > img {
    object-fit: scale-down;
    max-height: 100%;
  }

  .features-grid {
    grid-template-columns: 100%;
  }
}

@media (max-width: 480px) {
  .features-grid {
    margin-top: 40px;
    grid-template-columns: 100%;
    grid-row-gap: 40px;
    margin-bottom: 40px;
  }
  .feature-title {
    font-size: 16px;
  }

  .feature-description {
    font-size: 12px;
  }

  .feature-img-wrap > img {
    width: 100%;
    max-width: 90px;
    padding-top: 20px;
  }

  .feature-cta-btn {
    font-size: 18px;
    padding: 12px 40px !important;
    width: 100%;
  }
}

