.home-section-title {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  font-size: 64px;
}

.home-section-title-dot {
  color: #36A7EE;
  font-size: 64px;
}

@media (max-width: 480px) {
  .home-section-title, .home-section-title {
    font-size: 48px;
  }
}
