.hiringMixer{
    position: relative;
    min-height: 400px
}

.hiringMixerHeaderText{
    position: absolute;
    top: 0px;
    color: black;
    float: left;
    font-size: 54px;
    width: 600px;
    text-align: left;
    left: 75px;
    font-family: 'RobotoSlab-Bold';
    line-height: 1;
}

.hiringMixerHeaderSubtext{
    position: absolute;
    top: 90px;
    left: 77px;
    font-size: 20px;
    text-align: left;
    font-family: 'RobotoSlab-Bold';
    color: #36A7EE;
}

.description{
    position: absolute;
    top: 160px;
    left: 75px;
    width: 900px;
    line-height: 1.5;
    text-align: left;
    color: #262626;
    font-size: 16px;
    font-family: 'Inter UI';
}

.hiringMixerRegisterButton{
    position: absolute;
    top: 300px;
    left: 75px;
    height: 47px;
    width: 228px;
    background-color: transparent;
    color: #FF632D;
    border-color: #FF632D;
    font-size: 18px;
    cursor: pointer;
    font-family: 'RobotoSlab-Bold';
}
