.reactathon-loader {
  margin-left: 40%;
  margin-right: 50%;
  margin-top: 15%;
  margin-bottom: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--color-light-blue);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 480px) {
  .reactathon-loader {
    margin-left: 35%;
    margin-right: 50%;
    margin-top: 40%;
    margin-bottom: 50%;
  }
}
