.speaker-grid-parent {
  padding-bottom: 35px;
}

.speaker-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 100px;
  padding-top: 55px;
}

@media (max-width: 799px) {
  .speaker-grid {
    grid-template-columns: 100%;
  }
}

@media (max-width: 480px) {
  .speaker-grid {
    grid-template-columns: 100%;
    padding-top: 35px;
    grid-row-gap: 24px;
    margin-bottom: 35px;
  }
  .speaker-grid-cta-parent {
    margin-bottom: 40px
  }
}
