.info-block-container {
    display: flex;
    justify-content: space-between;
}

.info-block {
    padding-top: 15px;
    width: 220px;
}

.sponsor-logo {
    height: 30px;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .info-block-container {
        display: block;
    }

    .info-block {
        margin: auto;
    }

    .sponsor-logo {
        height: 20px;
        margin: 15px;
    }
}

@media only screen and (max-width: 580px) {
    .sponsor-logo {
        height: 15px;
        margin: 5px;
    }
}