.sponsor-logo {
    height: 25px;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .sponsor-logo {
        height: 20px;
        margin: 15px;
    }
}

@media only screen and (max-width: 580px) {
    .sponsor-logo {
        height: 15px;
        margin: 5px;
    }
}
