.speaker {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /*grid-template-columns: 31% 69%;*/
  grid-template-columns: 52% 48%;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.speaker-img-wrap {
  padding: 20px 8px 0 8px;
  transform: scale(1);
  /*max-width: 480px;*/
  margin-right: 0;
  margin-left: auto;
}

.speaker-img-container {
  border: 12px solid var(--color-speaker-default);
  display: block;
  border-radius: 60px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  position: relative;
  max-width: 300px;
}

.speaker-img-wrap:hover .speaker-img-container {
  transform: scale(1.1);
  border-color: var(--color-speaker-hover);
}

.speaker-img-wrap:hover .speaker-img {
  opacity: 1;
}

.speaker-img-wrap:hover ~ div .speaker-name {
  color: var(--color-speaker-hover);
}

.speaker-img-wrap > img {
  object-fit: cover;
  width: 100%;
}

.speaker-img {
  max-width: 100%;
  display: block;
  /* width: 160px; */
  /* height: 160px; */
  margin: 0 auto;
  /* box-shadow: 0 0 0 4px white, 0 0 0 6px #36A7EE; */
  /*box-shadow: -2px -2px 0 5px white, 0 0 0 6px #36A7EE;*/
  position: relative;
  transition: 0.2s ease-in-out;
}


.speaker-img_standard {
  opacity: 1;
}

.speaker-description {
  padding-top: 30px;
  padding-right: 15px;
}

.speaker-name {
  font-family: var(--font-roboto-slab);
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 5px;
  color: var(--color-speaker-default);
  transition: 0.2s ease-in-out;
}

.speaker-headline {
  font-family: var(--font-inter-ui);
  font-size: 14px;
  font-style: italic;
  color: var(--color-black);
  max-width: 307px;
}

.speaker-company {
  font-family: var(--font-inter-ui);
  font-size: 16px;
  color: var(--color-light-gray);
}

.speaker-links {
  display: grid;
  grid-template-columns: 100%;
  padding-top: 9px;
}

.speaker-links-mc {
  display: block;
  padding-top: 9px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.speaker-links a {
  font-family: var(--font-inter-ui);
  font-size: medium;
  color: var(--color-gray);
  text-decoration: none;
}

@media (max-width: 799px) {
  .speaker-img-wrap > img {
    max-height: 100%;
  }
}

@media (max-width: 480px) {
  .speaker-name {
    font-size: 20px;
  }
  .speaker-headline {
    font-size: 12px;
  }
  .speaker-company {
    font-size: 12px;
  }
  .speaker-links {
    font-size: 12px;
    grid-template-columns: 35% 35%;
    justify-items: left;
    grid-column-gap: 0;
  }
  .speaker-links a {
    font-size: 12px;
  }
  .speaker-img-wrap > img {
    max-height: 88px;
    max-width: 88px;
  }
}
