.home-banner {
  background-color: var(--color-dark-blue);
}

.banner-copy {
  width: 100%;
  height: auto;
  padding-bottom: 82px;
}

.home-banner-container {
  padding-left: 65px;
  color: #fff;
  width: 100%;
}

.presenting-sponsor-logo {
  height: 80px;
}

.home-banner img {
  box-sizing: content-box;
}

@media (min-width: 800px) {
  .home-banner {
    min-height: 630px;
  }
}

@media (max-width: 800px) {
  .home-banner {
    min-height: 600px;
  }
}

@media (max-width: 480px) {
  .home-banner {
    background-image: url('../../../assets/images/home/header/home-header-placeholder.jpg');
    min-height: 700px;
    opacity: 1;
  }
}
