.header {
    background-image: url('./splash.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav {
    height: 42px;
    width: 100%;
    border-bottom: 1px solid white;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

.nav a {
    color: #e1e1e1;
    text-decoration: none;
    margin: 0 15px;
    font-size: 13px;
}

.main-container {
    text-align: center;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 30px;
}

.logo {
    height: 102px;
}

@media only screen and (max-width: 768px) {
    .nav {
        justify-content: center;
        padding-right: 0;
    }

    .nav a {
        margin: 0 5px;
    }

    .logo {
        height: 51px;
    }
}

@media only screen and (max-width: 1100px) {
    .main-container {
        margin-top: 5%;
    }
}
