.header {
    min-height: 42px;
    background-image: url('./navbar-background@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.nav a {
    color: #e1e1e1;
    text-decoration: none;
    margin: 0 15px;
    font-size: 13px;
}

@media only screen and (max-width: 768px) {
    .logo {
        margin: auto;
        padding-top: 15px;
    }

    .header {
        padding: 0 5px;
    }

    .nav {
        width: 100%;
        margin: auto;
        padding-bottom: 15px;
        text-align: center;
    }

    .nav a {
        margin: 0 7px;
    }
}