.header {
    height: 42px;
    background-image: url('./navbar-background@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.nav a {
    color: #e1e1e1;
    text-decoration: none;
    margin: 0 20px;
    font-size: 13px;
}