.header {
  font-family: var(--font-roboto-slab);
  font-size: 64px;
  font-weight: bold;
  color: var(--color-white);
}

.header-dot {
  color: var(--color-light-blue);
}

.header-wrap {

}

@media (max-width: 799px) {
  .header {
    font-size: 42px;
    line-height: 32px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 42px;
    line-height: 32px;
  }
}
