.topics {

}

.topic-tables-topic-header {
  font-size: 40px;
}

.topic-header {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-columns: 20% 80%;
  grid-column-gap: 40px;
}

.topic-header-img-wrap {
  margin-left: auto;
  margin-right: 0;
}

.topic-header-img-wrap > img {
  object-fit: cover;
  width: 100%;
  /* max-height: 100%; */
  margin-top: 30%;
}


.topic-jumpto-wrap {
  margin-bottom: 100px;
}

.topic-jumpto {
  font-family: var(--font-inter-ui);
  font-size: 18px;
}

.topic-jumpto > ul {
  list-style-type: none;
}

.topic-jumpto > ul > li {
  float: left;
  padding: 5px;
}

.topic-jumpto-link {
  text-decoration: none;
  font-weight: bold;
  background: var(--color-light-blue);
  color: var(--color-white);
  padding: 5px;
  line-height: 35px;
}

.topic-jumpto-link:hover {
  outline: 1px solid var(--color-light-blue);
  color: var(--color-light-blue);
  background: var(--color-white);
  transition: 200ms;
}


@media (max-width: 799px) {
  .topic-jumpto-wrap {
    margin-bottom: 250px;
  }

  .topic-header-img-wrap > img {
    max-height: 100%;
  }
}

@media (min-width: 480px) {
  .topic-jumpto-wrap {

  }

}
