@media (max-width: 799px) {
  .burger {
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
  }

  .burger {
    display: inline-block;
    height: 100px;
    padding: 20px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .burger-inner.burger-inner-expanded .menu-item:first-child  {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10px;
    transform-origin: 10px;
  }

  .burger-inner.burger-inner-expanded .menu-item:nth-child(2) {
    opacity: 0;
  }

  .burger-inner.burger-inner-expanded .menu-item:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 8px;
    transform-origin: 8px;
  }

  .burger-inner.burger-inner-expanded .menu-item {
    margin: 0 0 5px;
  }

  .burger .menu-item {
    display: block;
    background-color: var(--color-dark-blue);
    height: 3px;
    margin: 0 0 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 40px;
  }

  .burger.burger-expanded {
    /* push content */
    /* left: 240px; */
    /* left: 85%; */
    /* background-color: var(--color-white); */
  }

  .nav-trigger {

  }
  .native-nav-menu-list-open {
    display: block;
    opacity: 1;
  }

  .native-nav-menu-list-open > ul {
    transition: opacity 1s ease-out;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .native-nav-menu-list-close {
    display: none;
    opacity: 0;
  }
}

.burger-inner-btn {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  padding: 0;
  background: transparent;
}

.native-nav-menu-list > .navigation-drawer {
  width: 85%;
  opacity: 1;
  background: white;
  color: black;
  display: block;
}
