a.btn {
    display: block;
    background: white;
    color: black;
    font-size: 21px;
    width: 166px;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    margin: auto;
    line-height: 50px;
    text-decoration: none !important;
    text-align: center;
}

a.btn:hover,
a.bth:focus {
    opacity: .8;
}

.inverse a.btn {
    background: black;
    color: white;
}

.inverse a.btn:hover,
.inverse a.btn:focus {
    background: white;
    color: black;
    border: 1px solid black;
}