body{
    margin: 0px !important;
}
.hero {
    height: 545px;
}

.heroRibbon{
    position: absolute;
    top: 30px;
    right: 0px;
    width: 250px;
    height: 0px;
    border: 24px solid #36A7EE;
    border-right: 0;
    border-left: 25px solid transparent;
}

.ribbonText{
    font-style: 'bold';
    font-size: 18px;
    font-family: 'Inter UI';
    position: absolute;
    top: -28px;
    left: 70px;
    color: white;
}

.component-container p {
    font-size: 16px;
    color: #252525;
}

.tab {
    font-size: 18px;
    color: #7F7F7F;
    margin: 0 20px;
}

.tab:hover,
.tab.active {
    color: #02AEEF;
    text-decoration: underline;
}

.heroHeaderText{
    position: absolute;
    top: 0px;
    color: white;
    float: left;
    font-size: 86px;
    width: 600px;
    text-align: left;
    margin-bottom: 30px;
    left: 375px;
    font-family: 'RobotoSlab-Bold';
    line-height: 1;
}

.heroHeaderSubtext{
    position: absolute;
    color: #c9cbce;
    float: left;
    text-align: left;
    font-size: 18px;
    left: 375px;
    width: 900px;
    height: 150px;
    top: 190px;
    line-height: 2;
    font-family: 'Inter UI';
}

.heroBuyButton{
    position: absolute;
    top: 380px;
    left: 375px;
    width: 298px;
    height: 68px;
    background-color: #FF632D;
    color: white !important;
    border: none;
    letter-spacing: 3px;
    cursor: pointer;
}

.heroBuyButtonText{
    position: absolute;
    top: -5px;
    left: 25%;
    font-size: 24px;
    font-family: 'RobotoSlab-Bold';
}

.heroBottomLineText{
    position: absolute;
    top: 470px;
    left: 375px;
    color: white !important;
    font-size: 16px;
    font-family: 'Inter UI';
}

.heroIcons{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    top: 8px;
}
