.component-container p {
    font-size: 16px;
    color: #252525;
}

.tab {
    font-size: 18px;
    color: #7F7F7F;
    margin: 0 20px;
}

.tab:hover,
.tab.active {
    color: #02AEEF;
    text-decoration: underline;
}