.workshops-header {
  margin-top: 0;
  color: var(--color-black);
}

.workshops-header-title {
  font-family: var(--font-roboto-slab);
  font-size: 46px;
}

.workshops-header-description {
  font-family: var(--font-inter-ui);
  opacity: .8;
  font-size: 18px;
  padding-top: 0;
}

.workshops-grid-wrap {
  margin-top: 65px;
}

.workshops-grid {
  display: grid;
  grid-template-columns: 100%;
  margin-right: 65px;
}

@media (max-width: 480px) {
  .workshops-header-title {
    font-size: 32px;
  }
  .workshops-header-description {
    font-size: 15px;
  }
  .workshops-grid-wrap {
    margin-top: 60px;
  }
  .workshops-header {
    margin-top: 0;
    color: var(--color-black);
  }
  .workshop-item-speaker-title {
    margin-top: -10px;
  }
  .workshop-item-detail-content {
    font-size: 15px;
  }
  .workshop-item-speaker-bio-button {
    font-size: 13px;
  }
  .workshop-item-speaker-bio-section {
    margin-top: 0;
  }
  .workshop-item-details-time-hour {
    height: 53px;
  }
}
