.footer {
    position: relative;
    top: 0px;
    background: #2B3642;
    height: 400px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sectionLeft{
    position: absolute;
    top: 100px;
    left: 50px;
}

.sectionRight{
    position: absolute;
    top: 100px;
    left: 900px;
}

.sectionHeader{
    position: absolute;
    color: 'white';
    width: 300px;
}

.footerLogo{
    position: relative;
    top:75px;
    margin-left: 10px;
}

.footerLogoContainer{
    position: relative;
    left: 50px;
}

.newsletterContainer{
    position: absolute;
    top: 150px;
}

.emailCaptureDescription{
    width: 500px;
}

.emailCaptureInput{
    position: absolute;
    left: 50px;
    border-radius: 20px;
    width:400px;
    height:30px;
    background-color: transparent;
    border: '1px solid white';
}

.subscribeButton{
    position: absolute;
    left: 360px;
    top: 62px;
    border-radius: 20px;
    font-size:18px;
    height: 30px;
    background-color: transparent;
    color: 'white';
}

.footerLinkContainer{
    position: absolute;
    width: 200px;
    top: 50px;
    left: 50px;
}

.footer p {
    font-size: 11px;
}

.nav {
    line-height: 15px;
}

.nav a {
    color: #535353;
    text-decoration: none;
    margin: 0 15px;
    font-size: 13px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 35px;
}

.social-media img {
    width: 21px;
}

.powered-by {
    display: flex;
    align-items: center;
    width: 300px;
    margin: auto;
}

.powered-by img {
    height: 17px;
    margin-left: 2px;
    margin-right: 2px;
}

.powered-by p {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .nav a {
        margin: 0 5px;
    }
}
