.footer {
    background: #f6f9fc;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p {
    font-size: 11px;
}

.nav {
    line-height: 15px;
}

.nav a {
    color: #535353;
    text-decoration: none;
    margin: 0 15px;
    font-size: 13px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 35px;
}

.social-media img {
    width: 21px;
}

.powered-by {
    display: flex;
    align-items: center;
    width: 300px;
    margin: auto;
}

.powered-by img {
    height: 17px;
    margin-left: 2px;
    margin-right: 2px;
}

.powered-by p {
    margin: 0;
}