.home-banner-content {
  padding-left: 56px;
  padding-top: 81px;
  color: white;
  width: 100%;
  min-height: 567px;
}

.home-banner-h1 {
  font-family: var(--font-roboto-slab);
  font-weight: 700;
  line-height: 1;
  max-width: 600px;
  font-size: 64px;
  padding-bottom: 40px;
}

.home-banner-p {
  font-family: var(--font-inter-ui);
  font-size: 16px;
  line-height: 28px;
  max-width: 767px;
  /* width: 80%; */
  /* word-wrap: break-word; */
  padding-bottom: 20px;
}

.home-banner-date {
  font-family: var(--font-inter-ui);
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  padding-bottom: 20px;
}

.home-banner-cta {
  /* margin-top: 20px;
  margin-bottom: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.home-banner-cta-btn {
  background-color: var(--color-pink);
  width: 298px;
  height: 68px;
  font-size: 24px;
  font-family: var(--font-inter-ui);
  font-weight: bold;
  border: none;
  color: white;
  font-style: normal;
  visibility: visible;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  padding: 15px 80px;
}

.home-banner-cta-btn:hover {
  background-color: var(--color-dark-pink);
}

@media (max-width: 950px) {
  .home-banner-h1 {
    font-size: 50px;
    line-height: 40px;
    padding-bottom: 30px;
  }
}

@media (max-width: 799px) {
  .home-banner-h1 {
    font-size: 36px;
    line-height: 30px;
    padding-bottom: 28px;
  }

  .home-banner-content {
    /* padding-top: 40px; */
    padding-left: 20px;
    padding-right: 20px;
  }

  .home-banner-p {
    padding-bottom: 20px;
  }

  .home-banner-date {
    font-size: 15px;
  }

  .home-banner-cta-btn {
    display: flex;
    width: 100%;
    font-size: 18px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .home-banner-cta-btn a {
    padding: 20px;
    vertical-align: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .home-banner-cta {
    margin: 0;
  }
  .home-banner-h1 {
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 24px;
  }

  .home-banner-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .home-banner-p {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
  }

  .home-banner-date {
    font-size: 15px;
    padding-bottom: 45px;
  }

  .home-banner-date > img {
    width: 15px;
    height: 15px;
  }

  .home-banner-cta-btn {
    display: flex;
    font-size: 18px;
  }

  .home-banner-cta {
    padding-bottom: 12px;
  }

  .home-banner-footer {
    flex-direction: column;
    font-size: 14px;
  }
  .home-banner-footer>div {
    align-self: center;
  }

  .home-banner-footer-sponsor-img-rwr {
    width: 4rem;
    margin-bottom: 1px;
  }

  .home-banner-footer-sponsor-img-clerk {
    width: 9rem;
  }

  .c-banner-footer-logos {
    padding-left: 4rem;
  }

  .c-banner-footer-logos span {
    margin: 0 .6rem;
  }
}
