.section-highlights {
  grid-template-columns: 20px 1fr 20px;
}

.highlight-gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, calc(50%));
  grid-template-rows: minmax(150px, 1fr);
  overflow: auto;
  padding: 20px 20px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.highlight-gallery::-webkit-scrollbar {
  display: none;
}

.highlight-gallery-image {
  max-width: 100%;
}

.highlight-video-modal {
}

.highlight-video-modal > .modal-content {
  background: transparent;
  border: none;
}

.highlight-video-frame {
  width: 100%;
  height: 100%;
  height: 520px;
  max-height: 520px;
  border: none;
}

.highlight-img-video {
  cursor: pointer;
}

.highlight-pad-img {
  object-fit: cover;
}

.highlight-gallery > .highlight-gallery-image {
  height: 100%;
}

@media (min-width: 1440px) {
  .highlight-pad-img {
    /* width: 351px; */
    min-height: 347px;
  }
}

@media (max-width: 799px) {
  .highlight-gallery {

  }

  .highlight-pad-img {
    /* width: 351px; */
    /* height: 80%; */
    object-fit: scale-down;

  }

  .highlight-gallery-image {
    object-fit: cover;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .highlight-gallery {

  }

  .highlight-gallery-image {
    object-fit: scale-down;
  }

  .highlight-pad-img {
    /* width: 351px; */
    min-height: 98%;
  }
}
