.section-highlights {
  /* padding-top: 55px;
  padding-left: 95px; */
}

.highlight-gallery {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 100px;
  padding-top: 55px; */
  overflow: auto;
  overflow-y: hidden;
}
