.topic-tables {

}

.topic-tables-header {
  margin-top: 55px;
}

.topic-tables-subtext {
  margin-top: 25px;
  font-family: var(--font-inter-ui);
  color: var(--color-black);
  max-width: 90%;
  font-size: 18px;
  margin-bottom: 30px;
}

.topic-tables-list {
  list-style-image: url('../../../../assets/icons/about/topic-tables-check-list-icon.svg');
  padding-left: 15px;
  font-size: 18px;
  font-family: var(--font-inter-ui);
  font-style: italic;
  color: var(--color-black);
}

@media (max-width: 480px) {
  .topic-tables-header {
    margin-top: 0;
  }
}
