.jobListings{
    position: relative;
    min-height: 400px
}

.jobListingsHeaderText{
    position: absolute;
    top: 0px;
    color: black;
    float: left;
    font-size: 54px;
    width: 600px;
    text-align: left;
    left: 75px;
    font-family: 'RobotoSlab-Bold';
    line-height: 1;
}

.description{
    position: absolute;
    top: 120px;
    left: 75px;
    width: 900px;
    line-height: 1.5;
    text-align: left;
    color: #262626;
    font-size: 16px;
    font-family: 'Inter UI';
}
