@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://rsms.me/inter/inter.css');

:root {
  /* Colors */
  --color-light-blue: #2DA6F1;
  --color-dark-blue: #2B3642;
  --color-lighter-blue: #38C1FF;
  --color-orange: #FF632D;
  --color-border-gray: #E9EAEC;
  --color-light-gray: #8A8B8A;
  --color-gray: #747474;
  --color-sponsor-gray: #7F7F7F;
  --color-black: black;
  --color-white: white;
  /* Fonts */
  --font-roboto-slab: "Roboto Slab", sans-serif;
  --font-inter-ui: "Inter UI", sans-serif;
}

html, body {
  height: 100%;
}

body, header {
  background: white;
}

body {
  zoom: 1;
  font-family: "inter",mono,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, audio, canvas, video, svg {
  display: block;
}

.section-divider {
  border: 1px solid var(--color-border-gray);
  margin-top: 40px;
}

.section-content {
  padding-top: 55px;
  padding-left: 95px;
}

.section-content-only {
  padding-left: 95px;
}
