@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://rsms.me/inter/inter.css');

:root {
  /* Colors */
  --color-light-blue: #2DA6F1;
  --color-dark-blue: #2B3642;
  --color-lighter-blue: #38C1FF;
  --color-orange: #FF632D;
  --color-border-gray: #E9EAEC;
  --color-light-gray: #8A8B8A;
  --color-gray: #747474;
  --color-sponsor-gray: #7F7F7F;
  --color-black: black;
  --color-white: white;
  --color-light-green: #4CAF51;
  /* Fonts */
  --font-roboto-slab: "Roboto Slab", sans-serif;
  --font-inter-ui: "Inter UI", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

body, header {
  background: white;
}

body {
  zoom: 1;
  font-family: var(--font-inter-ui);
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  /* margin: 0; */
  touch-action: manipulation;
  display: block;
}



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, audio, canvas, video, svg {
  display: block;
}

button {
  background: none;
}

.main-layout {
  max-width: 100%;
  width: 100%;
  min-height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  /* max-width: 1500px; */
}

.section-divider {
  margin-left: -55px;
  margin-right: -55px;
  margin-top: 65px;
}

.section-content {
  padding-top: 55px;
  /* Less than 800px */
  padding-left: 65px;
  padding-right: 10px;
}

.section-content-only {
  /* Less than 800px */
  padding-left: 65px;
}

@media (min-width: 800px) {
  .section-content-only, .section-content {
    padding-left: 95px;
  }
}


@media (max-width: 799px) {
  .section-content, .section-content-only {
     padding-top: 40px;
     padding-left: 15px;
     padding-right: 15px;
   }
 }

@media (max-width: 480px) {
 .section-content, .section-content-only {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
  button {
    background-color: transparent;
  }
}
