.banner {
  height: 545px;
  background: url('../../assets/images/home/header/header-background-image-home.png');
  background-color: #2B3642;
  background-blend-mode: overlay;
  background-size: cover;
  opacity: 1;
  width: 100%;
  max-width: 100%;
}

.banner-content {
  padding-top: 82px;
}

.banner-content-page {
  max-height: 350px;
}


@media (max-width: 799px) {
  .banner-content {
    padding-top: 10px;
  }
}
