.home-banner {
  height: 545px;
  background: url('../../assets/images/home/header/header-background-image-home.png');
  background-color: #2B3642;
  background-blend-mode: overlay;
  background-size: cover;
  opacity: 1;
  max-width: 100%;
}
