.banner {
  height: 545px;
  background: url('../../assets/images/home/header/header-background-image-home.png');
  background-color: var(--color-dark-blue);
  background-blend-mode: overlay;
  background-size: cover;
  opacity: 1;
  width: 100%;
  max-width: 100%;
}

.banner-content {
  padding-top: 82px;
  min-height: 567px;
}

.banner-content-page {
  max-height: 350px;
}

/* With video */
.banner-wrap {
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
  position: relative;
  /* max-height: 545px; */
  margin-bottom: 55px;
  background-color: #2B3642;
}

.banner-content-overlay {
  position: absolute;
  top: 0;
  /* left: 0; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}

.banner-video-wrap {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.5;
}


@media (max-width: 799px) {
  .banner-content {
    padding-top: 50px;
  }
}

@media (max-width: 480px) {
  .banner-content {
    min-height: 500px;
    max-height: 500px;
  }
}
