.sponsorSectionContainer{
    position: relative;
    top:0px;
    height:700px;
}

.presentingSponsorSection{
    position: absolute;
    left: 300px;
    top: 150px;
    width: '100%';
}

.silverSponsorSection{
    position: absolute;
    left: 475px;
    top: 450px;
    width: '100%';
}

.communitySponsorSection{
    position: absolute;
    left: 510px;
    top: 610px;
    width: '100%';
}

.subsectionHeader{
    text-transform: uppercase;
    font-family: 'RobotoSlab-Bold';
    color: #565656;
    font-size: 13px;
    letter-spacing: 2px;
}

.sectionHeader{
    position: absolute;
    left: 50px;
    font-size: 64px;
    font-family: 'RobotoSlab-Bold';
}

.sectionHeaderPeriod{
    position: absolute;
    left: 334px;
    font-size: 64px;
    font-family: 'RobotoSlab-Bold';
}

.sponsorDescriptionContainer{
    width: 600px;
    line-height: 1.5em;
    font-family: 'Inter UI';
    font-size: 18px;
    color: #565656;
}

.sponsorDescription{
    font-size: 18px;
}

.subtitle{
    position: absolute;
    left: 400px;
    top: 100px;
    font-size: 12px;
}

.sponsorContactInfo{
    position: absolute;
    top: 750px;
    left: 265px;
    font-family: 'Inter UI';
    font-style: italic;
    color: #7F7F7F;
}
